:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inputs-container {
  background-color: rgba(0, 0, 0, 0.147);
  padding: 20px 32px;
  width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.personal-info-cont,
.education-info-cont,
.experience-info-cont {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  padding: 5px;
}

.personal-info-cont {
  background: linear-gradient(to top left, #c62e2e9e, #ff58a38c);
}

.education-info-cont {
  background: linear-gradient(to top left, rgba(8, 147, 66, 0.505), #9ae15d85);
}

.experience-info-cont {
  background: linear-gradient(
    to bottom right,
    rgba(104, 232, 239, 0.596),
    rgba(94, 119, 194, 0.507)
  );
}

.personal-info-cont input,
.education-info-cont input,
.experience-info-cont input {
  /* width: 90%; */
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.add-education,
.add-experience {
  height: 40px;
  cursor: pointer;
  background-color: #1e293b;
  border: none;
  border-radius: 5px;
  color: #e1edff;
  font-weight: 600;
  font-size: 18px;
}

.finish-btn {
  height: 40px;
  cursor: pointer;
  background-color: #1e293b;
  border: none;
  border-radius: 5px;
  color: #e1edff;
  font-weight: 600;
  font-size: 18px;
}

.btn-preview {
  background: linear-gradient(to top left, rgb(8, 147, 66), #9ae15d);
}

.btn-reset {
  background: linear-gradient(to top left, #c62e2e, #fb2134);
}

.delete-btn {
  height: 40px;
  cursor: pointer;
  background-color: #1e2c43;
  border: none;
  border-radius: 5px;
  color: #e1edff;
  font-weight: 600;
  font-size: 18px;
}

.hidden {
  display: none;
}
