:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inputs-container {
  background-color: rgba(0, 0, 0, 0.147);
  padding: 20px 32px;
  width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.personal-info-cont,
.education-info-cont,
.experience-info-cont {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  padding: 5px;
}

/* .personal-info-cont {
  background: linear-gradient(to top left, #c62e2e9e, #ff58a38c);
}

.education-info-cont {
  background: linear-gradient(to top left, rgba(8, 147, 66, 0.505), #9ae15d85);
}

.experience-info-cont {
  background: linear-gradient(
    to bottom right,
    rgba(104, 232, 239, 0.596),
    rgba(94, 119, 194, 0.507)
  );
} */

.personal-info-cont input,
.education-info-cont input,
.experience-info-cont input {
  /* width: 90%; */
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: 14px;
}

.add-education,
.add-experience {
  height: 40px;
  cursor: pointer;
  background-color: #1e293b;
  border: none;
  border-radius: 5px;
  color: #e1edff;
  font-weight: 600;
  font-size: 18px;
}

.finish-btn {
  height: 40px;
  cursor: pointer;
  background-color: #1e293b;
  border: none;
  border-radius: 5px;
  color: #e1edff;
  font-weight: 600;
  font-size: 18px;
}

.btn-preview {
  background: linear-gradient(to top left, rgb(8, 147, 66), #9ae15d);
}

.btn-reset {
  background: linear-gradient(to top left, #c62e2e, #fb2134);
}

.delete-btn {
  height: 40px;
  cursor: pointer;
  background-color: #1e2c43;
  border: none;
  border-radius: 5px;
  color: #e1edff;
  font-weight: 600;
  font-size: 18px;
}

.preview-page {
  background-color: lightgreen;
  width: 750px;
  margin: 0 auto;
}

.nav {
  background-color: green;
  color: white;
  text-align: left;
  padding: 10px 25px;
}

.main {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 4fr 1.5fr;
}

.details-cont {
  background-color: rgb(237, 255, 242);
  text-align: left;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.details-cont h3 {
  /* text-decoration: underline; */
  border-bottom: 1px solid gray;
}

.personal-details-cont {
  /* background-color: lightpink; */
  background-color: rgb(231, 231, 231);
  text-align: left;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-details-cont span {
  width: 100%;
  height: 150px;
  background-color: gray;
}

.personal-details-cont h3 {
  border-bottom: 1px solid gray;
  width: 90%;
  margin: 0 auto;
}

.personal-details-cont div {
  margin-left: 10px;
}

.chose-photo {
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  color: grey;
  font-size: 14px;
}

.hidden {
  display: none;
}
